html,body {
    margin: 0;
    padding: 0;
    width: 100%;
}
body {
    width: 100%;
    height: 100vh;
    background: url(https://images.unsplash.com/photo-1498230870289-7561110a6e69?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjF9&auto=format&fit=crop&w=1650&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
    font-family: Quicksand;
    
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80px;
}
.left {
    float: left;
}
.left ul{
    list-style: none;
    padding: 1em 3em;
}
.left ul li {
    display: inline-block;
}
.left ul li a {
    text-decoration: none;
    color: blue;
    font-weight: 500;
    padding: 8px 16px;

}
.right {
    float: right;
}
.right ul{
    list-style: none;
    padding: 1em 3em;
}
.right ul li {
    display: inline-block;
}
.right ul li a {
    text-decoration: none;
    color: darkslateblue;
    font-weight: 500;
    padding: 8px 16px;
}
.right li:nth-child(2) a {
    border: 1px solid #ffffff;
    border-radius: 4px;
}
.header {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%); 
    margin-bottom: 20px;   
}

.header h1{
    color: cyan;
    font-size: 60px;
}
.header p{
  color: #fff;
  font-size:20px ; 
  margin-bottom: 20px;
}

.form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50px);
    text-align: center;

    
}

input {
    width: 100%;
    margin: 20px 0;
    background: rgba(0,0,0,0);
    border: none;
    border-bottom: 1px solid #0078ff;
}
#msg{
  margin-top: 40px;  
}
::-webkit-input-placeholder {
    color: #eaeaea;
    font-size: 12px;
    letter-spacing: 2px;
}
button {
    padding: 20px 32px;
    font-size: 16px;
    background: #0078ff;
    border: none;
    border-radius: 30px;
    margin-top: 30px;
    color: cyan;
}

.footer {
    text-align: left;
    float: none;
}

