body {
	padding: 0;
	margin: 0;
	background: #f2f6e9;
}

/*--- navigation bar ---*/

.navbar {
	background: maroon;
}

.nav-link,
.navbar-brand {
	color: #fff;
	cursor: pointer;
}

.nav-link {
	margin-right: 1em !important;
}

.nav-link:hover {
	color: #000;
}

.navbar-collapse {
	justify-content: flex-end;
}

/*--- header ---*/

.header {
	background-image: url('https://images.unsplash.com/photo-1565050188823-f367ed16af59?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
	background-size: cover;
	background-position: center;
	position: relative;
}

.overlay {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.6);
}

.description {
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
}

.description h1 {
	color: #ffffff;
}

.description p {
	color: #fff;
	font-size: 1.3rem;
	line-height: 1.5;
}

.description button {
	border: 1px solid snow;
	background: brown;
	border-radius: 0;
	color: #fff;
}

.description button:hover {
	border: 1px solid rgb(214, 211, 211);
	background: #fff;
	color: #000;
}

/*--- feature section ---*/

.features {
	margin: 4em auto;
	padding: 1em;
	position: relative;
}

.feature-title {
	color: #333;
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.features img {
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	margin-bottom: 16px;
}

.features .form-control,
.features input {
	border-radius: 0;
}

.features .btn {
	background-color: #75000a;
	border: 1px solid #520707;
	color: #fff;
	margin-top: 20px;
}

.features .btn:hover {
	background-color: #333;
	border: 1px solid #333;
}

/*--- footer ---*/

.page-footer {
	background-color: #222;
	color: #ccc;
	padding: 60px 0 30px;
}

.footer-copyright {
	color: #666;
	padding: 40px 0;
}

/*--- media queries ---*/

@media (max-width: 575.98px) {

	.description {
		left: 0;
		padding: 0 15px;
		position: absolute;
		top: 10%;
		transform: none;
		text-align: center;
	}
	
	.description h1 {
		font-size: 2em;
	}
	
	.description p {
		font-size: 1.2rem;
	}
	
	.features {
		margin: 0;
	}

}