/* 
 body {
    height: 100%;
    width: 100vh;
    background: url(https://images.unsplash.com/photo-1498887960847-2a5e46312788?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}  

 h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 50px;
 }    
 
 p {
     color: whitesmoke;
 }
ul ,li {
    text-align: left;
    color: olive;
}
h2 {
    text-align: center;
    font-size:30px;
    font-weight: bold;
}


div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  */
*{
    color: maroon;
    background-color: white;
}

  
  h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 50px;
  }

  div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    font-family: fantasy;
    font-size: 12px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }

  p {
      text-align: center;
      font-family: fantasy;
      font-style: italic;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }